In [5]:
# List : stores heterogeneous type of data. They are stored continously by the indexing.
# Array : stores homogeneous type of data. They are stored continously by the indexing.

In [6]:
li = [] # empty list

In [7]:
li = [1,2] # homogeneous list

In [13]:
li = [1, "Sahil", 3.4, 5, "Sahil"] # heterogeneous list
print(li)

[1, 'Sahil', 3.4, 5, 'Sahil']

### Access and Change Element in List

In [9]:
li[0]

1

#### We can change the values of the list by the indexing

In [14]:
li[1] = 'deepen'

In [15]:
li

[1, 'deepen', 3.4, 5, 'Sahil']

Slicing of the list

In [16]:
li[1:3] # as 3 it will not consider the last value that is 5

['deepen', 3.4]

In [17]:
li

[1, 'deepen', 3.4, 5, 'Sahil']

In [18]:
li[1:] # it will start from index 1 and end till last

['deepen', 3.4, 5, 'Sahil']

In [20]:
li[:] # only colon will give the complete list

[1, 'deepen', 3.4, 5, 'Sahil']

In [21]:
li[1:10] # as here there is no values till the 10 then it will go to the values present till the last of the list

['deepen', 3.4, 5, 'Sahil']

#### Insert and Append element in List

In [22]:
li.append("Nayana") # append will add the value to the last of the list

In [23]:
li

[1, 'deepen', 3.4, 5, 'Sahil', 'Nayana']

In [24]:
li.insert(2,"Vikram") # this is used to insert the values to the user choices index

In [25]:
li

[1, 'deepen', 'Vikram', 3.4, 5, 'Sahil', 'Nayana']

In [26]:
li.insert(7,50) # by this we can add the values to the list

In [27]:
li

[1, 'deepen', 'Vikram', 3.4, 5, 'Sahil', 'Nayana', 50]

In [28]:
li.insert(50,"RexOP") # as here index 50 is no present then the value will be added to the last of the list without caring of the index

In [29]:
li

[1, 'deepen', 'Vikram', 3.4, 5, 'Sahil', 'Nayana', 50, 'RexOP']

In [136]:
li.append([9,10,11]) # this will create list within the list

In [31]:
li

[1, 'deepen', 'Vikram', 3.4, 5, 'Sahil', 'Nayana', 50, 'RexOP', [9, 10, 11]]

In [42]:
li.extend([12,13]) # this will add the values given without creating a extra list

In [35]:
li

[1,
 'deepen',
 'Vikram',
 3.4,
 5,
 'Sahil',
 'Nayana',
 50,
 'RexOP',
 [9, 10, 11],
 12,
 13,
 14,
 12,
 13]

#### Removing Elements from the list

In [43]:
li

[1,
 'deepen',
 'Vikram',
 3.4,
 5,
 'Sahil',
 'Nayana',
 50,
 'RexOP',
 [9, 10, 11],
 12,
 13,
 14,
 12,
 13,
 12,
 13]

In [44]:
li.remove(1)  # in the remove functionality indexing dont work it directly targets the value

In [45]:
li

['deepen',
 'Vikram',
 3.4,
 5,
 'Sahil',
 'Nayana',
 50,
 'RexOP',
 [9, 10, 11],
 12,
 13,
 14,
 12,
 13,
 12,
 13]

In [46]:
li.remove(13)  # as in the list there are many 13 but it will remove the same value which is present 1st

In [47]:
li

['deepen',
 'Vikram',
 3.4,
 5,
 'Sahil',
 'Nayana',
 50,
 'RexOP',
 [9, 10, 11],
 12,
 14,
 12,
 13,
 12,
 13]

In [48]:
li.pop() # it will remove the value from the last

13

In [49]:
li.pop(2) # this will remove from the targetting index

3.4

In [50]:
li

['deepen',
 'Vikram',
 5,
 'Sahil',
 'Nayana',
 50,
 'RexOP',
 [9, 10, 11],
 12,
 14,
 12,
 13,
 12]

In [52]:
len(li) # returns the length of the list

13

### How elements are stored in the List and Array
* In the list and array the elements are not saved it just saves the referrence of the elements
* It stores the referrence continously
* List follow concept of resizing

### Looping on the List

In [53]:
li = [1,2,"Sahil",6,7,8,"Deepen"]

In [54]:
li

[1, 2, 'Sahil', 6, 7, 8, 'Deepen']

In [58]:
for i in range(len(li)):
    print(li[i])

1
2
Sahil
6
7
8
Deepen

In [59]:
# here 2 is the index from the loop will start
for i in range(2,len(li)):
    print(li[i])

Sahil
6
7
8
Deepen

In [60]:
# this is 2nd method how we can use loop for the list. When we dont need the index
for ele in li:
    print(ele)

1
2
Sahil
6
7
8
Deepen

In [61]:
# This means that start from the 2nd index till the last by using the slicing
for ele in li[2:]:
    print(ele)

Sahil
6
7
8
Deepen

In [63]:
li

[1, 2, 'Sahil', 6, 7, 8, 'Deepen']

In [62]:
# here as we see the loop started from the 2 index and ended at the 3 because in the for loop it dont consider last element
for ele in li[2:4]:
    print(ele)

Sahil
6

### Negative Indexing

* Positive Indexing : Starts from the 0 index (Means form the start)
* Negative Indexing : Starts from the -1 index (Means from the last)

In [64]:
li = [1,2,3,4,5,6]

In [65]:
li

[1, 2, 3, 4, 5, 6]

In [66]:
# This - gives indexing from the last
li[-1]

6

In [68]:
li[-2]

5

In [69]:
li[-4]

3

### Sequencing :
* In the sequencing it goes from start to end-1 and the step we want to give : li [start : end : step]

In [154]:
li = [1,2,3,4,5,6,7,8,9,10]

In [155]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [156]:
li[0 : 10 : 2]

[1, 3, 5, 7, 9]

In [157]:
li[1::2] # this is what it will go from 1 index till the end of the list by taking 2 steps

[2, 4, 6, 8, 10]

In [158]:
li[:6:2]

[1, 3, 5]

In [159]:
li[-7 : -1]

[4, 5, 6, 7, 8, 9]

### Taking Input in List

#### Line Separated Input

In [148]:
n = int(input())
new_li = []
for i in range(n):
    cur = int(input())
    new_li.append(cur)

5
1
2
3
4
5

In [96]:
new_li

[1, 2, 3, 4, 5]

In [163]:
n = int(input())
li = []
for i in range(n):
    li.append(int(input()))
print(li)

5
1
2
3
4
5
[1, 2, 3, 4, 5]

In [99]:
str = input()

1 2 3 4 5

In [100]:
str

'1 2 3 4 5'

In [101]:
str_split = str.split(" ") # split uses delimeter that how we want to split the values

In [102]:
str_split

['1', '2', '3', '4', '5']

In [103]:
n = input()

1,2,3,4,5

In [104]:
n

'1,2,3,4,5'

In [105]:
new_split = n.split(",")

In [106]:
new_split

['1', '2', '3', '4', '5']

In [107]:
k = input()

1 2 3 4 5 6 7

In [108]:
k

'1 2 3 4 5 6 7'

In [109]:
k_split = k.split() # by default the the split functionality has " " delimeter

In [110]:
k_split

['1', '2', '3', '4', '5', '6', '7']

In [111]:
k_list = []
for ele in k_split:
    k_list.append(int(ele))

In [112]:
k_list

[1, 2, 3, 4, 5, 6, 7]

In [236]:
one_line_split = [ int(x) for x in input().split()]

1 2 3 4 5 6

In [237]:
one_line_split

[1, 2, 3, 4, 5, 6]

In [238]:
for ele in one_line_split:
    print(ele)

1
2
3
4
5
6

In [166]:
num = input()
list_num = [int(x) for x in input().split()]
sum = 0
#avg = 0
for ele in list_num:
    sum = sum + ele
    #avg = sum/len(list_num)
print(sum)
#print(avg)

5
1 4 5 7
17

In [276]:
li = [x for x in input().split()]
print(li)

1 2 3 4 5
['1', '2', '3', '4', '5']

### Linear Search

In [167]:
n = int(input())
li = [int(x) for x in input().split()]

6
1 2 3 6 7 8

In [168]:
li

[1, 2, 3, 6, 7, 8]

In [173]:
ele = int(input())

8

In [209]:
isFound = False
for i in range(len(li)):
    if ele == li[i]:
        print(i)
        isFound = True
        break
if isFound is False:
    print(-1)

4

In [175]:
ele = int(input())

100

In [176]:
isFound = False
for i in range(len(li)):
    if ele == li[i]:
        print(i)
        isFound = True
        break
if isFound is False:
    print(-1)

-1

#### Linear Search Through Function

In [184]:
def linear_search(li,ele):
    for i in range(len(li)):
        if ele == li[i]:
            return i
    return -1

li = [int(x) for x in input("Enter the elements in the List : ").split()]
ele = int(input("Enter a element number which index you want(if present returns index else returns -1 : ) "))
index = linear_search(li,ele)
print("The index of ",ele," is :",index)

Enter the elements in the List : 1 2 3 4 5 6 7 8 9
Enter a element number which index you want(if present returns index else returns -1 : ) 5
The index of  5  is : 4

#### Mutable and Immutable
* Lists are mutable

In [205]:
x = 3
a = 3
# This is immutable as the both the have same values the id is same for both
print(id(x))
print(id(a))

2033587257648
2033587257648

In [186]:
# But if we change the value of a then the referrence id of a will be changed
x = 3
a = 4
print(id(x))
print(id(a))
# as we see here the referrence id of the a has changed this is immutable

2033587257648
2033587257680

In [191]:
li = [1,2,3,4,5]
li2 = [9,8,7,6,5]
print(id(li))
print(id(li2))

2031543515008
2031543523840

In [192]:
li = [1,2,3,4,5]
li2 = li
print(id(li))
print(id(li2))

2031543507328
2031543507328

In [193]:
li2[2] = 10

In [194]:
# as list is mutable if we change the values in the li2 then it will reflect in the li as well
print(li)
print(li2)

[1, 2, 10, 4, 5]
[1, 2, 10, 4, 5]

In [296]:
def increment(a):
    a = a + 2
    return a 
a = 2
a = increment(a)
print(a)

4

#### Passing List through Functions

In [213]:
# as here we can see that the list is the mutable.
def increment(li):
    li[0] = li[0] + 2
    return
lis = [1,2,3,4]
increment(lis)
print(lis)

[3, 2, 3, 4]

In [216]:
def increment(li):
    li = [3,4,4]
    return
lis = [1,2,3,4]
increment(lis)
print(lis)

[1, 2, 3, 4]

In [218]:
def increment(li):
    li = [3,4,4]
    return li
lis = [1,2,3,4]
lis = increment(lis)
print(lis)

[3, 4, 4]

#### Reverse List

In [292]:
def reverse_l(li):
    length = len(li)
    for i in range(length//2):
        li[i],li[length-i-1] = li[length-i-1],li[i]
li = [1,2,3,4,5,6]
print(li)
reverse_l(li)
print("Reversed : ",li)

[1, 2, 3, 4, 5, 6]
Reversed :  [6, 5, 4, 3, 2, 1]

In [10]:
def reverse_l(li):
    length = len(li)
    for i in range(length//2):
        li[i],li[-i-1] = li[-i-1],li[i]
    return li
lis = [1,2,3,4,5,6]
print(lis)
reverse_l(lis)
print("Reversed : ",lis)

[1, 2, 3, 4, 5, 6]
Reversed :  [6, 5, 4, 3, 2, 1]

In [287]:
li

[6, 5, 4, 3, 2, 1]

In [288]:
li[3:1:-1]

[3, 4]

In [289]:
li[:1:-1]

[1, 2, 3, 4]

In [290]:
li[3::-1]

[3, 4, 5, 6]

In [291]:
li[::-1]

[1, 2, 3, 4, 5, 6]

In [12]:
def alt(li):
    l = len(li)
    if l%2 == 0:
        for i in range(0,l,2):
            li[i],li[i+1] = li[i+1],li[i]
    else:
        for i in range(0,l-1,2):
            li[i],li[i+1] = li[i+1],li[i]
    return li
    #for i in li:
        #print(i,end =' ')
n = int(input())
li = [int(x) for x in input().split()[:n]]
alt(li)

5
1 2 3 4 5

[2, 1, 4, 3, 5]

In [4]:
def findUnique(n, arr):
    for i in range(n):
        count = 0
        for j in range(n):
            if arr[i]==arr[j]:
                count = count + 1
        
        if count == 1:
            return arr[i]

t = int(input())
for _ in range(t):
    n = int(input())
    arr = [int(x) for x in input().split()]
    print(findUnique(n,arr))

1
5
1 1 2 2 3 3
3

In [8]:
def findDuplicate(n, arr):
    for i in range(n):
        count = 0
        for j in range(n):
            if arr[i]==arr[j]:
                count = count + 1
        
        if count != 1:
            return arr[i]

t = int(input())
for _ in range(t):
    n = int(input())
    arr = [int(x) for x in input().split()]
    print(findDuplicate(n,arr))

1
6
1 1 2 2 3 4
1

In [9]:
import sys
def intersections( n, arr1, m, arr2) :
    for i in range(n):        
        for j in range(m):
            if arr1[i] == arr2[j]:
                print(arr1[i],end =" ")
                arr2[j] = sys.maxsize #  this means that this will take the length that matches to the arr1
                break

def takeInput():
    n = int(input())
    arr1 = [int(x) for x in input().split()]
    return n, arr1
 
t = int(input())
for _ in range(t):
    n, arr1 = takeInput()
    m, arr2 = takeInput()
    #m = int(input())
    #arr2 = [int(y) for y in input().split()]
    (intersections( n, arr1, m, arr2))

1
5
1 2 3 4 5
6
9 8 7 6 5 4
4 5

### Linear Search

In [43]:
def search(list, target):
    l = len(list)
    for i in range(0,l):
        if list[i] == target:
            return i
    return -1

list = [int(x) for x in input().split()]
target = int(input())
print("The index of the", target ," is : ",search(list, target))

12 253 534 342 3412 346 21
342
The index of the 342  is :  3

### Binary Search

In [45]:
def search(list, target, debug = False):
    lower = 0
    upper = len(list)-1
    while lower <= upper:
        mid = (lower + upper) // 2
        if debug:
            print("Lower Bound : ", lower)
            print("Upper Bound : ", upper)
            print("Middle  : ", mid)
        
        if list[mid] == target:
            return mid
        elif list[mid] < target:
            lower = mid + 1
        else:
            upper = mid - 1
    return - 1
        

list = [int(x) for x in input().split()]
target = int(input())
print("The index of the", target ," is : ",search(list, target, debug = True))

23 34 35 36 46 56
34
Lower Bound :  0
Upper Bound :  5
Middle  :  2
Lower Bound :  0
Upper Bound :  1
Middle  :  0
Lower Bound :  1
Upper Bound :  1
Middle  :  1
The index of the 34  is :  1

### Selection Sort

In [36]:
def selection_sort(A):
    for i in range(len(A)):
        min_index = i
        for j in range(i+1, len(A)):
            if A[j] < A[min_index]:
                min_index = j
        A[i], A[min_index] = A[min_index], A[i]
    return A

A = [13,23,3,5,29,45]
#A = [234,456,8756,123,1,2,3,4,6]
selection_sort(A)

[3, 5, 13, 23, 29, 45]

In [54]:
def selection_sort(A):
    for i in range(len(A)):
     
    # Find the minimum element in remaining
    # unsorted array
        min_idx = i
        for j in range(i+1, len(A)):
            if A[min_idx] > A[j]:
                min_idx = j

        # Swap the found minimum element with
        # the first element       
        A[i], A[min_idx] = A[min_idx], A[i]
    return A

A = [234,456,8756,234,123,1,2,3,4,6]
selection_sort(A)

[1, 2, 3, 4, 6, 123, 234, 234, 456, 8756]

In [49]:
def select(A):
    for i in range(len(A)):
        for j in range(i+1, len(A)):
            if A[i] > A[j]:
                A[i], A[j] = A[j], A[i]
    return A
A = [234,456,8756,234,123,1,2,3,4,6]
print(select(A))

[1, 2, 3, 4, 6, 123, 234, 234, 456, 8756]

### Bubble sort

In [54]:
def bub_sort(A):
    for i in range(0,len(A)):
        print(i)
        for j in range(0, len(A)-1):
            if A[j] > A[j+1]:
                print("The pairs are :", A[j]," and ", A[j+1])
                A[j], A[j+1] = A[j+1], A[j]
    return A
A = [234,456,8756,234,123,1,2,3,4,6]
print(bub_sort(A))

0
The pairs are : 8756  and  234
The pairs are : 8756  and  123
The pairs are : 8756  and  1
The pairs are : 8756  and  2
The pairs are : 8756  and  3
The pairs are : 8756  and  4
The pairs are : 8756  and  6
1
The pairs are : 456  and  234
The pairs are : 456  and  123
The pairs are : 456  and  1
The pairs are : 456  and  2
The pairs are : 456  and  3
The pairs are : 456  and  4
The pairs are : 456  and  6
2
The pairs are : 234  and  123
The pairs are : 234  and  1
The pairs are : 234  and  2
The pairs are : 234  and  3
The pairs are : 234  and  4
The pairs are : 234  and  6
3
The pairs are : 234  and  123
The pairs are : 234  and  1
The pairs are : 234  and  2
The pairs are : 234  and  3
The pairs are : 234  and  4
The pairs are : 234  and  6
4
The pairs are : 123  and  1
The pairs are : 123  and  2
The pairs are : 123  and  3
The pairs are : 123  and  4
The pairs are : 123  and  6
5
6
7
8
9
[1, 2, 3, 4, 6, 123, 234, 234, 456, 8756]

In [53]:
# optimized bubble sort
def bub_sort(A):
    for i in range(0,len(A)-1):
        #print(i)
        for j in range(0, len(A)-1-i):
            if A[j] > A[j+1]:
                #print("The pairs are :", A[j]," and ", A[j+1])
                A[j], A[j+1] = A[j+1], A[j]
    return A
    
A = [234,456,8756,234,123,1,2,3,4,6]
bub_sort(A)

[1, 2, 3, 4, 6, 123, 234, 234, 456, 8756]

### Insertion Sort

In [229]:
def insertion_sort(A):
    length = len(A)
    for i in range(0,length):
        j = i - 1
        temp = arr[i]
        while j>=0 and arr[j] > temp:
            arr[j + 1] = arr[j]
            j = j - 1
        arr[j + 1] = temp

A = [234,456,8756,234,123,1,2,3,4,6]
select(A)

[1, 2, 3, 4, 6, 123, 234, 234, 456, 8756]

In [234]:
def insertionSort(n, arr) :
    for i in range(0,n):
        j = i - 1
        temp = arr[i]
        while (j>=0 and arr[j] > temp):
            arr[j + 1] = arr[j]
            j = j - 1
        arr[j + 1] = temp
    #return arr

def printList(n ,arr):
    for i in range(n):
        print(arr[i], end=" ")

n = int(input())
arr = [int(x) for x in input().split()]
insertionSort(n, arr)
printList(n ,arr)

5
8 2 6 3 4
2 3 4 6 8

In [76]:
from os import *
from sys import *
from collections import *
from math import *

def copyAndReverse(arr):
    length = len(arr)
    for i in range(length//2):
        arr[i], arr[length-i-1] = arr[length-i-1], arr[i]
    return arr

def takeInput():
    # n = int(sys.stdin.readline().strip())
    # if n == 0:
    #     return list(),0
    arr = [int(x) for x in input().split(" ")]
    #arr = list(map(int, sys.stdin.readline().strip().split(" ")))
    return arr
def printArray():
    for i in range(len(arr)):
        print(arr[i], end=" ")
    print()
        
        
#t = int(sys.stdin.readline().strip())
t = int(input())
for _ in range(t):
    #n = takeInput()
    arr = takeInput()
    copyAndReverse(arr)
    printArray()

2
12 23 34 45
45 34 23 12
09 08 07 06
6 7 8 9

In [108]:
n = 5
for i in range(n):
        binary = f'{i:b}'
        print(binary)

0
1
10
11
100

### Merge Two Sorted Arrays

In [158]:
def merge(arr1, n, arr2, m) : 
    arr = []

    i = 0
    j = 0
 # here i for the arr1 and j is for the arr2

    while ((i < n) and (j < m)):
        if (arr1[i] < arr2[j]):
            arr.append(arr1[i])
            i = i + 1
        else:
            arr.append(arr2[j])
            j = j + 1

    while (i < n):
        arr.append(arr1[i])
        i = i + 1

    while (j < m):
        arr.append(arr2[j])
        j = j + 1

    print(arr, end="")

n = int(input())
arr1 = [int(x) for x in input().split(" ")]
m = int(input())
arr2 = [int(x) for x in input().split(" ")]
merge(arr1, n, arr2, m)

4
1 3 5 7
5
2 4 6 8 10
[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [127]:
def secondLargestElement(n, arr):
    for i in range(n):
        min_index =  i
        for j in range(i+1, n):
            if (arr[min_index] > arr[j]):
                min_index = j
        arr[i], arr[min_index] = arr[min_index], arr[i]

    return arr

    
n = int(input())
arr = [int(x) for x in input().split(" ")]
secondLargestElement(n, arr)

9
345 678 23 687 12 8 2 534 5

[2, 5, 8, 12, 23, 345, 534, 678, 687]

In [241]:

from sys import stdin
import sys

def findSecondLargest(sequenceOfNumbers):
    
    n = len(sequenceOfNumbers)

    # Sort the array in decending order.
    sequenceOfNumbers.sort(reverse=True)
    
    for i in range(1, n):
    
        # If the element is not equal to first largest element.
        if sequenceOfNumbers[i] != sequenceOfNumbers[i-1]:
            return sequenceOfNumbers[i]

    return -1


# Taking input using fast I/O.
def takeInput():
    n = int(input())

    sequenceOfNumbers = [int(x) for x in input().split(" ")]

    return sequenceOfNumbers, n

# Main.
t = int(input())
while t > 0:
    sequenceOfNumbers, n = takeInput()
    print(findSecondLargest(sequenceOfNumbers))
    t = t-1

1
5
9 6 8 4 2
8

In [179]:
list = [-10, -40, -25, -12, -25, -10]
list.sort(reverse=True)
print(list[-2])

-25

In [138]:
l = [3,6,3,0,7,0,2,23]
l.sort()
print(l)

[0, 0, 2, 3, 3, 6, 7, 23]

In [145]:
def countRotations(arr, n):
 
    # We basically find index
    # of minimum element
    min = arr[0]
    min_index = 0
    for i in range(0, n):
     
        if (min > arr[i]):
         
            min = arr[i]
            min_index = i
         
    return min_index;
 
 
# Driver code
arr = [15, 18, 2, 3, 6, 12]
n = len(arr)
print(countRotations(arr, n))

2

In [181]:
def rotateArray(arr, n , d):
    part_1 = arr[0:d]
    part_2 = arr[d:]
    arr[:] = part_2 + part_1
    return arr


def printList(arr, n):
    for i in range(n):
        print(arr[i], end=" ")
    print()


def takeInput():
    n = int(input())
    if n == 0:
        return list(), 0
    arr = [int(x) for x in input().split(" ")]
    return arr, n

loop = int(input())
for _ in range(loop):
    arr, n = takeInput()
    #arr = takeInput()
    d = int(input())
    rotateArray(arr, n , d)
    printList(arr, n)

1
5
32 345 234 65 76
2
234 65 76 32 345

In [223]:
list = [1,2,3,4,5]
n = int(input("rotation: "))
length = len(list)
y = n - length
first_half = list[:-y]
second_half = list[-n:] 
third_comp = second_half + first_half
print(first_half)
print(second_half)
print(third_comp)

rotation: 2
[1, 2, 3]
[4, 5]
[4, 5, 1, 2, 3]

In [224]:
list = [1,2,3,4,5]
list[-2:]

[4, 5]

In [235]:
test_list = [9, 4, 5, 4, 4, 5, 9, 5, 4]
 
# printing original list
print ("Original list : " + str(test_list))
 
# using max() + set() to
# get most frequent element
res = max(set(test_list), key = test_list.count)
     
# printing result
print ("Most frequent number is : " + str(res))

Original list : [9, 4, 5, 4, 4, 5, 9, 5, 4]
Most frequent number is : 4

In [1]:
# gives combinations
import itertools
arr=[1,3,5]
for i in itertools.combinations(arr,2):
    print(i)

(1, 3)
(1, 5)
(3, 5)