In [2]:
# we can use single, double as well as triple quote
s = 'Sahil'
print(s)
a = "Sahil"
print(a)
h = '''Sahil'''
print(h)

Sahil
Sahil
Sahil

In [5]:
# when we use single or double quotation we cannot write multi line alphabets
name = "My name
Sahil"

SyntaxError: unterminated string literal (detected at line 1) (1087501131.py, line 1)

In [10]:
# to write multi line we can use triple quotation m
name = '''My 
name is 
Sahil'''
print(name)

# \n means this is the end of the line and starts with the new line
name

My
name is
Sahil

'My \nname is \nSahil'

In [9]:
indexing_in_string = "Sahil"
indexing_in_string[0]

'S'

### How Strings are Stored

In [11]:
s = "Sahil"
print(id(s))

1677770669680

In [13]:
n = "Sahil"
print(id(n))

1677770325680

##### As we can see that n and s both are different variables but has same values that means 
##### the variables stores the referrence(address) of the values and so the values we have given to the s and n
##### are same so it stored in one space and referrence variable targets the referrence and calls the value

### Strings are immutable

In [15]:
name = "Sahil"
print(name[0])

S

In [18]:
# this means that the we cannot change the value once we have written it 
# we cannot make changes in the string we need to change the referrence
name[0] = "p"

TypeError: 'str' object does not support item assignment

### Concantenation of two String

In [19]:
a = "red"

In [26]:
# concatenation happens using the + operator
a = a + "blue"
a

'redblue blue blueblueblueblueblue'

In [27]:
id(a)

1677792309872

In [177]:
# as we know that the string is immutable so when we use same variable and concatenate the other element then "a" will change its reference
# it creates the new string and stores the values to the new referrence and "a" will not refer to the first first string we made but it will create a new string with new space and and stores the reference and the values
a = a + "yellow"

TypeError: unsupported operand type(s) for +: 'bool' and 'str'

In [29]:
id(a)

1677770118640

In [38]:
c = "blue"

In [39]:
# by this way also we can use the concatenation
c = c * 3
c

'blueblueblue'

In [40]:
# as first our "c" was c * 3 means that blue will repeat 3 times then when we again make c * 3 this means that it will repeat 9 times
c = c * 3

In [41]:
c

'blueblueblueblueblueblueblueblueblue'

In [43]:
k = "red"

In [44]:
# we cannot do the string and number addition
k = k + 2

TypeError: can only concatenate str (not "int") to str

In [45]:
# to do so we can use str() function which is already in the python
# converting the integer into the string
k = k + str(2)

In [46]:
k

'red2'

##### Concatenation has two operator that is " + " and " * "

### Slicing of String

[start : end : steps]  format for slicing of String

In [47]:
slice = "Sahil"

In [49]:
slice[0:]

'Sahil'

In [50]:
slice[0:4]

'Sahi'

In [51]:
slice[0::2]

'Shl'

##### Slicing happens on negative indexing as well

In [52]:
slice[-1]

'l'

In [53]:
slice[-4:-1]

'ahi'

In [54]:
slice[4:1:-1]

'lih'

In [56]:
slice[4::-1]

'lihaS'

### Iterating on String

In [57]:
str = "Hello World"

In [58]:
count = 0
for i in str:
    if (i == 'l'):
        count = count + 1
print(count)

3

In [59]:
count = 0
for i in range(len(str)):
    if (str[i] == 'l'):
        count = count + 1
print(count)

3

### in and notin operation on string

In [60]:
print(str)

Hello World

In [64]:
# identifying the substring or not
if 'Hel' in str:
    print("Yes it is the substring")
else:
    print("It is not the substring")

Yes it is the substring

In [72]:
if 'Hel' not in str:
    print("Yes it is not the substring")
else:
    print("No it is a substring")

No it is a substring

### Comparison Operator on String
#### Comparison is on the basis of the ASCII values

In [73]:
a = "Sahil" == "Sahil"
a

True

In [74]:
a = "Sahil" > "Rahil"
a

True

In [75]:
a = "Sahil" < "Rahil"
a

False

In [76]:
a = "Sbhil" >= "Sahil"
a

True

In [143]:
"Sahil" >= "Sah"

True

In [80]:
"Sahil" > "Sahil"

False

In [81]:
"Sahil" != "Sahil"

False

In [203]:
o = "malayalam is the best"
k = o[::-1]
print(k)

tseb eht si malayalam

In [94]:
def palindrome(str):
    reverse = str[::-1]
    if str == reverse:
        return True
    else:
        return False
str = input()
if (palindrome(str)):
    print("true")
else:
    print("false")

lol
true

In [137]:
import re
def checkPalindrome(s):   
	lowercase = s.lower()
	new_lower = re.sub(r"[~!@#$%^*&?/\|]","",lowercase)
	print(new_lower)
	reverse = s.lower()[::-1]
	new_reverse = re.sub(r"[~!@#$%^*&?/\|]","",reverse)
	print(new_reverse)
	if new_lower == new_reverse:
		return True
	else:
		return False
str = input()
checkPalindrome(str)

Lo#@%$&#l
lol
lol

True

In [139]:
a = "abce" >= "abcdef"
print(a)

True

### Operation on String and Functions on Strings

##### Split

In [160]:
str = "My name is Sahil"
l = str.split()
print(l)

['My', 'name', 'is', 'Sahil']

In [161]:
str = "My,name,is,Sahil"
l = str.split(",")
print(l)

['My', 'name', 'is', 'Sahil']

In [165]:
# as here we can pass delemeter how many items we want to split
str = "My,name,is,Sahil"
l = str.split(",",2)
print(l)

['My', 'name', 'is,Sahil']

##### replace

In [174]:
str = "My name is Sahil"
name = str.replace("Sahil", "Deepen")
print(name)

My name is Deepen

In [175]:
# as here we didnt pass any delimeter how many we want to change it will change all the element of same name with the new name we have given it
str = "My name is Sahil Sahil Sahil"
name = str.replace("Sahil", "Deepen")
print(name)

My name is Deepen Deepen Deepen

In [176]:
# as here we gave 1 it will change only 1 name even though we have multiple same name 
str = "My name is Sahil Sahil Sahil"
name = str.replace("Sahil", "Deepen", 1)
print(name)

My name is Deepen Sahil Sahil

##### FInd

In [178]:
# here we got the 3 because "n" started with the 3
str = "My name is Sahil"
index = str.find("na")
print(index)

3

In [179]:
# here we got the -1 because the name is not present in the string
str = "My name is Sahil"
index = str.find("nae")
print(index)

-1

In [180]:
# if multiple same names are present in the string it will return who ever come first
str = "My name is Sahil Sahil Sahil"
index = str.find("Sah")
print(index)

11

In [182]:
# if multiple same names and we have given the we want to start from our choice it will return it too as we see below
str = "My name is Sahil Sahil"
index = str.find("Sah",15,22)
print(index)

17

##### lower and upper

In [184]:
# it converts everything to the lower case
str = "My name is Sahil"
lower = str.lower()
lower

'my name is sahil'

In [185]:
# it converts everything to the upper case
str = "My name is Sahil"
upper = str.upper()
upper

'MY NAME IS SAHIL'

##### startwith

In [186]:
# this is the boolean which returns the true or the false if our starting is exact as the parameters returns true else false
str = "My name is Sahil"
start = str.startswith("My")
start

True

In [188]:
# as here Sa from the Sahil starts with the indexing 11 it returns true
str = "My name is Sahil"
start = str.startswith("Sa",11)
start

True

### Replace the Charaters

In [192]:
def replace(str, cur_val, cng_val):
    new_str =''
    for val in str:
        if (val == cur_val):
            new_str = new_str + cng_val
        else:
            new_str = new_str + val
    return new_str
str = input("Enter a Text : ")
cur_val = input("Enter a value present in your text : ")
cng_val = input("Enter a value you want to replace it with value present in the text : ")
str = replace(str, cur_val, cng_val)
print(str)

Enter a Text : kkkkrrrrrrkkkkkksedretwetrwetw
Enter a value present in your text : r
Enter a value you want to replace it with value present in the text : a
kkkkaaaaaakkkkkksedaetwetawetw

### Count VCDS

In [193]:
def count_vcds(str):
    v,c,d,s = 0,0,0,0
    for char in str:
        if ((char >= 'a' and char <= 'z') or (char >= 'A' and char <= 'Z')):
            char = char.lower()
            if (char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u'):
                v = v + 1
            else:
                c = c + 1
        elif (char >= '0' and char <= '9'):
            d = d + 1
        else:
            s = s + 1
    return v,c,d,s
str = "aaaAAAdfk 12345 !@&$"
v,c,d,s = count_vcds(str)
print(v,c,d,s)

6 3 5 6

In [207]:
n = "a" * 3
n

'aaa'

In [210]:
n = 3 % len(n)
n

0

In [222]:
def stringCompression(s):
    i = 0
    res = []
    while i < len(s) :
        j = i + 1
        c = 1
        while j < len(s):
            if s[i] == s[j]:
                c+=1
                j+=1
                
            else:
                break
            
        if c > 1:
            res.append(s[i])
            res.append(c)
            
        else:
            res.append(s[i])
            
        i = i + c
                
    for i in range(len(res)):
        print(res[i],end ='')
           

s = input()
stringCompression(s)

aabbccdsa
a2b2c2dsa