### 2D is actually List of Lists

In [13]:
# This is how we create 2d list
li = [[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16]]

In [15]:
# this is how we access 2d list
li[3][3]

16

In [16]:
# to change the elements in the list
li[3][3] = 17

In [17]:
li

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 17]]

In [18]:
# as we can see that the id of whole list is different 
id(li)

1370143272576

In [19]:
# here li[0] is the member of the li which is the whole 2d list and when we check the id the li[0] is different
# because it is consider as the different list which has difference referrence and li combines all the referrences 
# at the one time
id(li[0])

1370121728064

In [20]:
li

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 17]]

In [22]:
# we cannot call this as the 2d list. It is list and the string
list = [[1,2,3,4], "Sahil"]

##### Jagged List

In [23]:
# jagged list means we dont need list within list of same size
jag_list = [[1,2,3,4], [5,6,7], [8,9], [10]]

In [24]:
jag_list

[[1, 2, 3, 4], [5, 6, 7], [8, 9], [10]]

##### List Comprehension

In [27]:
li = [1,2,3,4]
new_li = []
for ele in li:
    new_li.append(ele**2)
print(new_li)

[1, 4, 9, 16]

In [28]:
# by list comprehension we can do it like this too
new_li_c = [ele**2 for ele in li]
# this is the use of list comprehension
new_li_c

[1, 4, 9, 16]

In [33]:
# we can use condition too as here we extracted element whos square is even
even_square = [ele**2 for ele in li if ele%2==0]
even_square

[4, 16]

In [34]:
# we can make this code in one line as well
li = [1,2,3,4,5,6,7,8,9]
new_li = []
for ele in li:
    if ele % 2 == 0:
        if ele % 3 == 0:
            new_li.append(ele)

In [35]:
new_li

[6]

In [36]:
# this is the use of the list comprehension
# here first ele is for the output and and aftre that all is condition we want to give
# this is the example of the multiple condition
new_li = [ele for ele in li if ele % 2 == 0 if ele % 3 == 0]
new_li

[6]

In [37]:
# this is multiple for loop we can convert this in the single line as well
li_1 = [1,2,3,4,5]
li_2 = [2,4,6,8]
new_intersection = []
for ele1 in li_1:
    for ele2 in li_2:
        if ele1 == ele2:
            new_intersection.append(ele1)
print(new_intersection)

[2, 4]

In [38]:
# this is for multiple for loop using lsit comprehension
new_inter = [ele1 for ele1 in li_1 for ele2 in li_2 if ele1 == ele2]

In [39]:
new_inter

[2, 4]

In [41]:
li = [1,2,3,4,5]
new_sq = [ele**2 if ele % 2 == 0 else ele for ele in li]

In [42]:
new_sq

[1, 4, 3, 16, 5]

In [44]:
# list comprehension works on the string as well
s = "Sahil"
new_s = [ele for ele in s]
new_s

['S', 'a', 'h', 'i', 'l']

In [56]:
s = "Sahil"
new_s = [s for ele in s]
new_s

['Sahil', 'Sahil', 'Sahil', 'Sahil', 'Sahil']

In [54]:
str = ["Sahil", "Deepen", "Kunal"]
str_2 = [[s for s in ele] for ele in str]
str_2

[['S', 'a', 'h', 'i', 'l'],
 ['D', 'e', 'e', 'p', 'e', 'n'],
 ['K', 'u', 'n', 'a', 'l']]

##### Taking Input in 2D list

In [62]:
str = input().split()
n,m = int(str[0]), int(str[1])
li = [[int(j) for j in input().split()] for i in range (n)]
li

3 4
1 2 3 4
5 6 7 8
9 10 11 12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [63]:
# Jagged List Input. where number of columns are not fixed
n = int(input())
li = [[int(j) for j in input().split()]for i in range(n)]

3
2 4 6
6 7 9 13
1

In [64]:
li

[[2, 4, 6], [6, 7, 9, 13], [1]]

In [65]:
str = input().split()
n, m = int(str[0]), int(str[1])
b = input().split()
arr = [[(int(b[m*i+j])) for j in range(m)] for i in range(n)]

3 4
1 2 3 4 5 6 7 8 9 10 11 12

In [66]:
arr

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [67]:
str = input().split()
n, m = int(str[0]), int(str[1])
b = str[2:]
arr = [[(int(b[m*i+j])) for j in range(m)] for i in range(n)]

3 4 1 2 3 4 5 6 7 8 9 10 11 12

In [68]:
arr

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

##### Printing 2D List

In [69]:
li = [[1,2,3,4], [5,6,7,8], [9, 10, 11, 12]]

In [70]:
n = 3
m = 4

In [135]:
for i in range(n):
    for j in range(m):
        print(li[i][j], end = " ")
    print()

2 3 5 7
8 2 7 6
8 2 7 1

IndexError: list index out of range

In [72]:
for i in range(n):
    for j in range(m):
        print(li[i][j], end = " ")

1 2 3 4 5 6 7 8 9 10 11 12

In [73]:
li = [[1,2,3,4], [5,6], [7,8,9]]

In [74]:
for row in li:
    for ele in row:
        print(ele, end=" ")
    print()

1 2 3 4
5 6
7 8 9

In [2]:
"ab".join("abcd")

'aabbabcabd'

In [77]:
"ab".join(["1","2","3"])

'1ab2ab3'

In [87]:
li = [[1,2,3,4], [5,6], [7,8,9]]
for row in li:
    output = ' '.join([str(ele) for ele in row])
    print(output)

TypeError: 'list' object is not callable

##### Largest Column Sum in 2D List

In [92]:
def largest_col_index(li):
    n = len(li)
    m = len(li[0])
    max_sum = -1
    max_index = -1
    for j in range(m):
        sum = 0
        for i in range(n):
            sum = sum + li[i][j]
        if sum > max_sum:
            max_index = j
            max_sum = sum
    return max_index, max_sum


li = [[2,3,5,7], [8,2,7,6], [8,2,7,1]]
print(largest_col_index(li))

(2, 19)

In [94]:
def largest_col_index(li):
    n = len(li)
    m = len(li[0])
    max_sum = -1
    max_index = -1
    for j in range(m):
        sum = 0
        for ele in li:
            sum = sum + ele[j]
        if sum > max_sum:
            max_index = j
            max_sum = sum
    return max_index, max_sum


li = [[2,3,5,7], [8,2,7,6], [8,2,7,1]]
max_index, max_sum = largest_col_index(li)
print(max_index, max_sum)

2 19

In [137]:
S = input().split()
min_length = 99999
for ele in S:
    if len(ele) < min_length:
        min_length = len(ele)
        min_ele = ele
print(min_ele)

Sahil is A
A

In [138]:
n = int(input())
arr = [int(x) for x in input().split()]
right_ele = arr[-1]
arr = arr[::-1]
new_arr = [arr[0]]
for i in range(1,n):
    if right_ele <= arr[i]:
        right_ele = arr[i]
        new_arr.append(arr[i])
new_arr = new_arr[::-1]
#print(new_arr, end = " ")
for ele in new_arr:
    print(ele, end=" ")

5
6 3 5 9 2
9 2

In [129]:
str = input().split()
n,m = int(str[0]), int(str[1])
for i in range(n):
    a = [int(x) for x in input().split()]
    for j in range(n-i):
        print(*a)

3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
5 6 7 8
5 6 7 8
5 6 7 8
9 10 11 12
9 10 11 12

In [ ]:
min = -1
def row_col(matrix,row,col):
    max_sum = min
    max_index = 0
    isRow = True
    for i in range(row):
        row_sum = 0
        for j in range(col):
            row_sum = row_sum + matrix[i][j]
        if row_sum > max_sum:
            max_sum = row_sum
            max_index = i
            
            
    for j in range(col):
        col_sum = 0
        for i in range(row):
            col_sum = col_sum + matrix[i][j]
        if col_sum > max_sum:
            max_sum = col_sum
            max_index = j
            isRow = False
            
    if isRow:
        print("row ", max_index, max_sum)
    else:
        print("col ", max_index, max_sum)

def takeInput():
    val_row_col = input("Enter row and column : ").split()
    row = int(val_row_col[0])
    col = int(val_row_col[1])
    matrix = [[int(x) for x in input().split()] for i in range(row)]
    return row, col, matrix

test = int(input())
for t in range(test):
    row, col, matrix = takeInput()
    row_col(matrix,row,col)