# Tuple

In [1]:
a = 1, 2

In [2]:
print(a)

(1, 2)

In [3]:
type(a)

tuple

##### Tuple is exactly as same as lists. We can access the tuple as we access the lists. But the tuples are immutable. We cannot change or add the entries in the tuple. But we can delete entire tuple

In [4]:
e = 1,2,3,4,5

In [5]:
type(e)

tuple

In [6]:
print(e)

(1, 2, 3, 4, 5)

In [7]:
e[0] = 2

TypeError: 'tuple' object does not support item assignment

In [8]:
del e

In [9]:
e

NameError: name 'e' is not defined

##### Tuple Function

In [10]:
a = 1,2,3,4,5

In [11]:
for i in a:
    print(i)

1
2
3
4
5

In [12]:
1 in a

True

In [13]:
7 in a

False

In [14]:
7 not in a

True

In [15]:
len(a)

5

##### As we cannot change the values in the tuple but we can cocanatenate it using another variable

In [16]:
b = 6,7,8,9,10

In [17]:
c = a + b

In [18]:
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

##### This will create tuples within tuples

In [19]:
d = (a,b)

In [20]:
d

((1, 2, 3, 4, 5), (6, 7, 8, 9, 10))

##### This will give you the tuple of "a" 4 times without the tuples within tuples

In [21]:
# repetition
k = a*4

In [22]:
k

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [23]:
a = 1,2,3,4,5

In [24]:
min(a)

1

In [25]:
max(a)

5

##### List to Tuple

In [26]:
l = [1,2,3,4]
tuple(l)

(1, 2, 3, 4)

In [27]:
def sum(a,b, *more):
    ans = a + b
    print(a)
    print(b)
    print(more)
    for i in more:
        ans = ans + i
    return ans

sum(3,4,5,6,7,8,9)

3
4
(5, 6, 7, 8, 9)

42

##### As we see above that the 3 goes for "a" 4 goes for "b" and remaining all the elements go for the more variable we have created (*more) we need to declare it like this in the function then it creates the tuple of other number we give

In [28]:
def sum_dif(a,b):
    return a+b,a-b,a*b

In [29]:
c = sum_dif(4,2)

In [30]:
print(c)

(6, 2, 8)

##### As we see above c will create the tuple of the sum as well as difference

In [31]:
# we can do it like this too where "d" will carry the sum and "e" will carry the difference
d,e = sum_dif(4,2)
print(d)
print(e)

ValueError: too many values to unpack (expected 2)

# Dictionary

##### Dicitonary is created using curly brackets {  }

In [32]:
a

(1, 2, 3, 4, 5)

In [33]:
a = {}
type(a)

dict

In [34]:
a = {"a" : 2, "b" : 10}
a

{'a': 2, 'b': 10}

In [35]:
len(a)

2

##### We can copy the dictionary to make the another dictionary

In [36]:
b = a.copy()
b

{'a': 2, 'b': 10}

##### As we see here that the "b" has all the values of the "a"  because we have used the copy function

### Another method to create the dictionary is below. Where 1st part should be key and 2nd part should be value

In [37]:
c = dict([("a", 3) , ("b", 1)])
c

{'a': 3, 'b': 1}

In [38]:
d = dict.fromkeys(["a", "b", "c"])
d

{'a': None, 'b': None, 'c': None}

##### As here we did not passed any values it is showing "None"

In [39]:
d = dict.fromkeys(["a", "b", "c"], 10)
d

{'a': 10, 'b': 10, 'c': 10}

#####  As we have passed 10 all the keys will take the values as the 10

##### Dictionary is mutable we can add a keys, remove, change

##### This is how we can access the values of the Dictionary using the

In [40]:
x = d["a"]
x

10

In [67]:
x = b.get("a")
x

2

In [42]:
d = {1:2, "abc":5, "def":7}
print(d.get(0,5))

5

In [72]:
d = {1:2, "abc":5, "def":7}
if 2 in d:
    print('Present')
else:
    print('Not Present')

Not Present

##### Dictionary Functions

In [122]:
a = {1:2, 3:4, "list":[6,7], "dict":{89,90}}
a

{1: 2, 3: 4, 'list': [6, 7], 'dict': {89, 90}}

##### To access the dictionary values we need key of the value we want to get

In [123]:
a["list"]

[6, 7]

In [124]:
a["dict"]

{89, 90}

In [125]:
a.get("list")

[6, 7]

In [126]:
# This is the another method to get the values of the key present in the dictionary
a = {"a" : 1, "b" : 2}
max(a, key = a.get)

'b'

In [127]:
a = {"s" : 2, "i" : 10}
m = max(a, key=a.get)
m

'i'

In [141]:
import statistics
a = "sahilllllll"
m = statistics.mode(a)
#m = max(a, key=a.count)
m

'l'

In [129]:
a = [1,1,2,2,3,54,5,7,87,87,8,8,8,8,8,8]
m = max(a, key=a.count)
m

8

In [182]:
n = {1:2, 3:4, "list":[6,7], "dict":{89,90}}
n

{1: 2, 3: 4, 'list': [6, 7], 'dict': {89, 90}}

In [183]:
# As here "li" key is not present it will not ewturn anything as well as it will not give error too
# sometimes we need to use it 
# and even we can pass the arguement value we want to print if the given key is not present
n.get("li")

In [184]:
n.get("li", "This value and key is not present")

'This value and key is not present'

###### To get all the keys we can do this

In [185]:
n.keys()

dict_keys([1, 3, 'list', 'dict'])

##### To get the all values we can do this

In [186]:
n.values()

dict_values([2, 4, [6, 7], {89, 90}])

##### To get the key value pair we can do this

In [187]:
n.items()

dict_items([(1, 2), (3, 4), ('list', [6, 7]), ('dict', {89, 90})])

In [188]:
for i in n:
    print(i)

1
3
list
dict

In [189]:
# This will give you values as well as key
for i in n:
    print(i, n[i])

1 2
3 4
list [6, 7]
dict {89, 90}

In [190]:
# This will give you just the values
for i in n.values():
    print(i)

2
4
[6, 7]
{89, 90}

In [191]:
# This is will give you boolean for the key
"list" in n

True

##### Adding and removing data in the dictionary

In [192]:
# To add the key as well as values in the dictionary  
n["new_tuple_add"] =(1,2,3,4,5)

In [193]:
n

{1: 2,
 3: 4,
 'list': [6, 7],
 'dict': {89, 90},
 'new_tuple_add': (1, 2, 3, 4, 5)}

##### To update a data

In [194]:
n[3] = 11000

In [195]:
n

{1: 2,
 3: 11000,
 'list': [6, 7],
 'dict': {89, 90},
 'new_tuple_add': (1, 2, 3, 4, 5)}

In [196]:
# This will update if the key is present in the dict else it will add it as new key and value
b = {3 : 100, "hello" : 69}

In [197]:
n.update(b)

In [198]:
n

{1: 2,
 3: 100,
 'list': [6, 7],
 'dict': {89, 90},
 'new_tuple_add': (1, 2, 3, 4, 5),
 'hello': 69}

##### Remove the key and value

In [199]:
n.pop(3)

100

In [200]:
n

{1: 2,
 'list': [6, 7],
 'dict': {89, 90},
 'new_tuple_add': (1, 2, 3, 4, 5),
 'hello': 69}

##### Delete

In [201]:
del n[1]

In [202]:
n

{'list': [6, 7],
 'dict': {89, 90},
 'new_tuple_add': (1, 2, 3, 4, 5),
 'hello': 69}

##### To remove everything form the dictionary we can use clear

In [203]:
n.clear()

In [204]:
n

{}

In [205]:
# Delete whole dictionary
del n

In [206]:
n

NameError: name 'n' is not defined

In [222]:
str = "This is sahil many many time is sleeping"
freq_count = 2
splited_str = str.split()
freq = {}
for char in splited_str:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1
print(freq)

for char in splited_str:
    if freq[char] == freq_count:
        print(char)

{'This': 1, 'is': 2, 'sahil': 1, 'many': 2, 'time': 1, 'sleeping': 1}
is
many
many
is

# Set

##### Sets are unordered they dont have indexing

In [258]:
sets = {1,2,"apple","banana"}
sets

{1, 2, 'apple', 'banana'}

In [259]:
type(sets)

set

In [260]:
"apple" in sets

True

In [261]:
for s in sets:
    print(s)

1
2
apple
banana

In [262]:
len(sets)

4

##### Add data

In [263]:
sets.add("Chiku")

In [264]:
sets

{1, 2, 'Chiku', 'apple', 'banana'}

In [265]:
new_set = {"mango", 69}

In [266]:
sets.update(new_set)

In [267]:
sets

{1, 2, 69, 'Chiku', 'apple', 'banana', 'mango'}

In [268]:
sets.remove("mango")

In [269]:
sets

{1, 2, 69, 'Chiku', 'apple', 'banana'}

In [270]:
sets.discard(2)

In [271]:
sets

{1, 69, 'Chiku', 'apple', 'banana'}

In [272]:
# discard is used when the value is not present and still we give that value it dosent generates error
sets.discard(21213)

In [273]:
sets.pop()

1

In [274]:
sets

{69, 'Chiku', 'apple', 'banana'}

In [276]:
sets.clear()

In [277]:
sets

set()

In [278]:
del s

In [279]:
s

NameError: name 's' is not defined

In [10]:
a = {1,2,3,4}
b = {3,4,5,6}

In [2]:
a

{1, 2, 3, 4}

In [3]:
b

{3, 4, 5, 6}

In [4]:
a.intersection(b)

{3, 4}

In [5]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [6]:
a.difference(b)

{1, 2}

In [7]:
b.difference(a)

{5, 6}

In [8]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [11]:
b.symmetric_difference(a)

{1, 2, 5, 6}

In [12]:
c = {3,4}

In [13]:
c

{3, 4}

In [14]:
a.issubset(c)

False

In [15]:
c.issubset(a)

True

In [16]:
a.issuperset(c)

True

In [17]:
c.issuperset(a)

False

In [22]:
def sumUnique(arr):
    s = set()
    for i in arr:
        s.add(i)
    sum = 0
    for i in s:
        sum = sum + i
    print(s)
    print(sum)
arr = [int(x) for x in input().split()]
sumUnique(arr)

1 1 2 2 3 3 4 4 5 5
{1, 2, 3, 4, 5}
15